// Place all the styles related to the Properties controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.det {
	margin: 0.5%;
}

.detbox {
		margin: 1%;
		background: rgba(0,0,0,0.05);
		width: 31%;
		display: inline-block;
}

.mapp {
position: absolute;
    right: 2%;
    top: 15%;
	display: inline-block;
}